* {
    box-sizing: border-box;
}
body {
	background-color: #b4bae9;
}

.header {
    border: 1px solid black;
    width: 100vw;
    height: 4em;
    margin: 1em 2em 0em 0em;
	overflow: hidden;
}

.item {
    /*border: 1px solid black;*/
    padding: 20px;
    float: left;
    display: block;
}

.item-1 {
    width: 60%;
}

.container {
    border: solid 5px black;
    display: flex;
    flex-direction: row;
}

.img {
    width: 41%;
    height: 80vh;
    float: left;
   	flex-basis: auto;
   	flex-grow: 2;
}

.right-content {
	display: flex;
	flex-direction: column;
	flex-basis: auto;
	flex-grow: 1;
    border: 1px solid black;
    margin-right:0em;
    padding: 1.5em 2em;
    width: 59%;
    height: auto;
    float: left;
    
}

.top-right {
	display: flex;
	flex-direction: column;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    float: none;
    border: 1px solid black;
    width: 100%;
}

.top-right p {
    font-size: 12px;
    font-weight: bolder;
    margin: 0px;
    float: none;
}

a.button {
    padding: 1em 1.5em 2em 1.5em;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #881b1b;
    color: white;
    text-decoration: none;
    width: 90%;
    height: .5em;
    margin: .5em;

}

a.button:hover {
    background-color: black;
    text-decoration: underline;
}

.lower-right {
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
}

p {
    font-size: 10px;
}

.icons {
    display: flex;
    justify-content: space-around;
}

a.icon {
    color: #881b1b;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: flex-start;
    margin: .5em;
}

footer p {
    margin: 30px 10px 0px 10px;
}

a#footer.button {
    padding: 1em 1.5em;
    text-align: center;
    /*border: 1px solid black;*/
    border-radius: 10px;
    background-color: orange;
    color: white;
    font-size: 10px;
    text-decoration: none;
    width: 8em;
    height: 5px;
    margin: 20px 10px 0px 10px;
}
/*desktop landscape*/
@media screen and (max-width:1000px) and (orientation:landscape) {
    .container {
        flex-direction: row;
    }
}
/* tablet landscape */
@media screen and (max-width:800px) (orientation:landscape) {
    .container {
        flex-direction: row;
    }
}
/*tablet portrait*/
@media screen and (max-width:800px) (orientation:portrait) {
    .container {
        flex-direction: column;
    }
}

/* phone */
@media screen and (max-width:400px) (orientation:portrait) {
    .container {
        display: block;
        flex-direction: column;
    }
}